<mat-toolbar color="primary">
    <span> <i class="fa-solid fa-film"></i>iMovies</span>
    <span class="spacer"></span>
    <a routerLink="/" mat-button>
        <i class="fa-solid fa-house"></i> Home
    </a>
    <a routerLink="/search" mat-button>
        <i class="fa-solid fa-search"></i> Search
    </a>
    <a routerLink="/theaters" mat-button>
        <i class="fa-solid fa-ticket"></i> Theaters
    </a>
    <a routerLink="/login" mat-button *ngIf="!service.getActiveUser()">
        <i class="fa-solid fa-circle-user"></i> Login
    </a>
    <a routerLink="/user" mat-button *ngIf="service.getActiveUser()">
        <i class="fa-solid fa-user"></i> Profile
    </a>
    <button mat-button *ngIf="service.getActiveUser()" (click)="doLogout()">
        <i class="fa-solid fa-circle-xmark"></i> Logout
    </button>
    <a routerLink="/about" mat-button>
        <i class="fa-solid fa-circle-question"></i> About
    </a>
</mat-toolbar>

<router-outlet />