html,
body {
    height: 100%;
    background-color: #1e2124;
    color: white;
}

a {
    color: grey;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

 /* Da centriramo container za loading */
.container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.example.card {
    max-width: 400px;
}
.loading{
    width: 700px;
    text-align: center;
    height: 300px;
    
}
.wrapper{
    margin-top: 30px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.auth-card {
    max-width: 530px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.full-width {
    width: 100%;
}