<div *ngIf="error">
  <h3>Ooops, an error occurred</h3>
  <p style="color: red;">{{ error }}</p>
</div>

<div *ngIf="filmovi" class="film-grid">
  <div *ngFor="let film of filmovi">
    <mat-card class="example-card" appearance="outlined">
      <img mat-card-image [src]="'https://image.tmdb.org/t/p/w500' + film.poster_path" [alt]="film.title" />
      <mat-card-content>
        <h2>{{ film.original_title }}</h2>
        <p>{{ film.release_date }} | Ocena: {{ film.vote_average }}</p>
        <p>{{ film.overview }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/details/', film.id]">
          <i class="fa-solid fa-circle-info"></i> Details
        </button>
        <button mat-button color="accent" [routerLink]="['/details/', film.id, 'booknow']">
          <i class="fa-solid fa-cart-shopping"></i> Book Now
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div *ngIf="!filmovi && !error" class="container">
  <mat-card class="loading" appearance="outlined">
    <mat-card-content>
      <h1>Please wait!</h1>
      <p>We are processing your data!</p>
    </mat-card-content>
    <p>Podaci se učitavaju...</p>
  </mat-card>
</div>