.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.film-details-container {
  max-width: 500px;
  width: 100%;
}

.film-card img {
  object-fit: cover;
  max-height: 600px;
  width: 100%;
}

.button-center {
  display: flex;
  justify-content: center;
}

.rating-container {
  margin-top: 20px;
  font-size: 20px;
  color: #ccc;
}

.rating-container mat-icon {
  cursor: pointer;
  transition: color 0.2s ease;
}

.rating-container mat-icon.filled {
  color: gold;
}

.details-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.left-section,
.right-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.film-card {
  width: 500px;
}

iframe {
  border-radius: 8px;
  box-shadow: 0 0 10px #000;
}