<div class="details-wrapper" *ngIf="film">
  <div class="left-section">
    <mat-card class="film-card" appearance="outlined">
      <img mat-card-image [src]="'https://image.tmdb.org/t/p/w500' + film.poster_path" alt="{{film.title}}" />

      <mat-card-content>
        <mat-list>
          <mat-list-item><strong>Title:</strong> {{ film.title }}</mat-list-item>
          <mat-list-item><strong>Average rating:</strong> {{ film.vote_average }}</mat-list-item>
          <mat-list-item><strong>Release date:</strong> {{ film.release_date }}</mat-list-item>
        </mat-list>
      </mat-card-content>

      <mat-card-actions class="button-center">
        <a mat-button color="accent" [routerLink]="['/details/'+film.id+'/booknow']">
          <i class="fa-solid fa-cart-shopping"></i> Book Now
        </a>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="right-section" *ngIf="trailerUrl">
    <h3>Trailer</h3>
    <iframe [src]="trailerUrl" width="900" height="750" frameborder="0" allowfullscreen>
    </iframe>
  </div>
</div>