<!--<div class="wrapper" *ngIf="film">
  <img [src]="'https://image.tmdb.org/t/p/w500' + film?.poster_path" alt="{{film?.title}}">
  <pre>{{ film | json }}</pre>

<div class="film-content">
<mat-card class="film-card" appearance="outlined">
  <img mat-card-image [src]="'https://image.tmdb.org/t/p/w500' + film?.poster_path" alt="{{film?.title}}" alt="film.title">
  <mat-card-content>
    <mat-list role = "list">
        <mat-list-item>{{film?.title}}</mat-list-item>
        <mat-list-item>{{film?.vote_average}}</mat-list-item>
        <mat-list-item>{{film?.release_date}}</mat-list-item>
        
    </mat-list>
        </mat-card-content>
  <mat-card-actions>
    <button mat-button color="accent">
          <i class="fa-solid fa-arrow-up-right-from-square"></i> Book Now
        </button>
  </mat-card-actions>
</mat-card>
<mat-card class="film-map" appearance="outlined">
    HAHAHAHAHA
</mat-card>
</div>
</div> -->


<div class="wrapper" *ngIf="film">
  <div class="film-details-container">
    <mat-card class="film-card" appearance="outlined">
      <img mat-card-image [src]="'https://image.tmdb.org/t/p/w500' + film.poster_path" alt="{{film.title}}">
      
      <mat-card-content>
        <mat-list>
          <mat-list-item><strong>Title:</strong> {{ film.title }}</mat-list-item>
          <mat-list-item><strong>Average rating:</strong> {{ film.vote_average }}</mat-list-item>
          <mat-list-item><strong>Release date:</strong> {{ film.release_date }}</mat-list-item>
        </mat-list>
      </mat-card-content>

      <mat-card-actions class="button-center">
        <button mat-button color="accent">Book Now</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>




